#Keycloack varaibles (gestion de usuarios)
CLIENT_SECRET_K=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT=
KEYCLOAK_URL=

#express
SESSION_SECRET=

#app
PORT=

# Configuración de Sequelize
DB_HOST=
DB_TYPE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=